header
    .logo 
        img(src="/img/logo.png", alt="")
    ul.menu 
        form(
                action="/search"
                method="GET"
            )
                .search
                    input#search(
                        type="text"
                        placeholder="Nhập từ khoá..."
                        autocomplete="off"
                        name="keyword"
                        value=keyword
                    )
                    button#search(
                        type="submit"
                    ) <i class="fa-solid fa-magnifying-glass"></i>

        li 
            a(href="/") Trang chủ 
        li 
            a(href="/gioithieu") Giới thiệu
        li 
            a(href="/thevote") The vote
        li 
            a(href="/tintuc") Tin tức
        li 
            a(href="/hoptac") Hợp tác