extends ../../layouts/default.pug

block main 
    .main

        //- div(id="confirmBox" class="confirm-box")
        //-     div(class="confirm-content")
        //-         p Bạn có chắc chắn muốn xoá sản phẩm này không?
        //-         button(id="confirmYes") Xoá
        //-         button(id="confirmNo") Huỷ
        .activity
            a(
                href="roles/create"
                class="create-item"
            ) + Thêm mới

        table 
            thead 
                tr 
                    th STT
                    th Nhóm quyền
                    th Mô tả ngắn
                    th Hành động
            tbody
                if(roles.length > 0)
                    each item, index in roles
                        tr 
                            th #{index + 1}
                            th #{item.name}
                            th #{item.content}
                            th
                                a(
                                    href=`roles/detail/${item._id}`
                                    class="btn-detail"
                                ) Chi tiết
                                a(
                                    href=`roles/edit/${item._id}`
                                    class="btn-edit"
                                ) Sửa

                                button(
                                    class="btn-delete"
                                    button-delete
                                    data-id=item._id
                                ) Xoá
                else 
                    tr 
                        th Chưa có quyền nào được tạo...
        form(
            action=""
            method="POST"
            id="form-delete-item"
            data-path="roles/delete"
        ) 