extends ../../layouts/default.pug 
include ../../mixins/select-tree.pug

block main 
    .main 
        form(
            action=`/admin/category/edit/${data._id}?_method=PATCH`
            method="POST"
            enctype="multipart/form-data"
        )

            .form-group 
                label(for="title") Tiêu đề
                input(
                    type="text"
                    class="form-item"
                    id="title"
                    name="name"
                    value=data.name
                    required 
                ) 
            .form-group 
                label(for="parent_id") Danh mục cha
                select(
                    name="parent_id"
                    id="parent_id"
                    class="form-item"
                    style="width: 100%; padding: 10px 5px; font-size: 16px"
                ) 
                    option(value="") -- Chọn danh mục cha --
                    if category && category.length > 0
                        +select-tree(category, 1, data.parent_id)
            .form-group 
                label(for="desc") Nhập mô tả
                textarea(
                    class="form-item tinymce"
                    id="desc"
                    name="description"
                ) 
            .form-group 
                label(for="pos") Vị trí
                input(
                    type="number"
                    class="form-item"
                    id="pos"
                    name="position"
                    value=data.position
                ) 
            .form-group(upload-image)
                label(for="img") Chọn ảnh
                input(
                    type="file"
                    class="form-item"
                    id="img"
                    name="image"
                    upload-img
                ) 
                .upload-preview 
                    img(src=data.image, alt="", upload-img-preview)
                    i(class="fa-solid fa-x" deletePreview)
            .form-group 
                button(
                    type="submit"
                    class="new-create"
                ) Cập nhật