extends ../../layouts/default.pug 

block main 
    .main
        .register-container
            h1 Lấy lại mật khẩu
            form(
                action="/user/password/forgot" 
                method="POST"
            )
                .form-group
                    label(for="email") Email
                    input#email(
                        type="email" 
                        name="email" 
                        required 
                        placeholder="Nhập email"
                    )
                .form-group
                    button(
                        type="submit"
                    ) Gửi mail xác nhận