extends ../../layouts/default.pug 

block main 
    .main
        .register-container
            h1 Đăng nhập
            form(
                action="/user/login" 
                method="POST"
            )
                .form-group
                    label(for="email") Email
                    input#email(
                        type="email" 
                        name="email" 
                        required 
                        placeholder="Nhập email"
                    )
                .form-group
                    label(for="password") Mật khẩu
                    .password-wrapper
                        input#password(
                            type="password" 
                            name="password" 
                            required 
                            placeholder="Nhập mật khẩu"
                        )
                        .toggle-password
                            input#togglePassword(type="checkbox")
                            label(for="togglePassword") Hiện mật khẩu
                .form-group
                    button(
                        type="submit"
                    ) Đăng nhập

                .form-group 
                    a(
                        href="/user/password/forgot"
                        style="color: #fff"
                    ) Quên mật khẩu?
