extends ../../layouts/default.pug 

block main 
    .main
        .register-container
            h1 Xác nhận mã OTP
            form(
                action="/user/password/otp" 
                method="POST"
            )
                .form-group
                    label(for="email") Email
                    input#email(
                        type="email" 
                        name="email" 
                        value=email 
                        readonly
                    )
                .form-group
                    label(for="email") Mã OTP
                    input#email(
                        type="text" 
                        name="otp" 
                        placeholder="Nhập mã OTP"
                        required
                    )
                .form-group
                    button(
                        type="submit"
                    ) Xác nhận