extends ../../layouts/default.pug 

block main 
    .main
        -   if (messages.error)
            div(
                class="message-delete"
                show-alert 
                data-time="5000"
            ) #{messages.error} <i class="fa-solid fa-x" close></i>

        .register-container
            h1 Đổi mật khẩu
            form(
                action="/user/password/reset" 
                method="POST"
            )
                .form-group
                    label(for="password") Mật khẩu mới
                    .password-wrapper
                        input#password(
                            type="password" 
                            name="password" 
                            required 
                            placeholder="Nhập mật khẩu mới"
                        )
                .form-group
                    label(for="confirmPassword") Xác nhận mật khẩu
                    .password-wrapper
                        input#password(
                            type="password" 
                            name="confirmPassword" 
                            required 
                            placeholder="Xác nhận mật khẩu"
                        )
                        .toggle-password
                            input#togglePassword(type="checkbox")
                            label(for="togglePassword") Hiện mật khẩu
                .form-group
                    button(
                        type="submit"
                    ) Đổi mật khẩu